@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p {
  margin: 0;
  padding: 0;
  font-family: "made4-tr";
  font-weight: normal;
}

ol,
ul {
  font-family: "made4-tr";
  font-weight: normal;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  grid-area: logo;
  width: 230px;
}
.logo img {
  width: 100%;
}
@media (max-width: 600px) {
  .logo {
    width: 170px;
  }
}

.big-title,
.big-title > *,
.big-title > * > * {
  color: #20303c;
  font-size: 40px;
  font-weight: bold;
  line-height: 46px;
  letter-spacing: 0.43px;
  font-family: "made4-dxb";
}
@media (max-width: 1060px) {
  .big-title,
.big-title > *,
.big-title > * > * {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}

.sub-title,
.sub-title > *,
.sub-title > * > * {
  font-family: "made4-dr";
  font-size: 18px;
  line-height: 30px;
  color: #20303c;
}
@media (max-width: 1060px) {
  .sub-title,
.sub-title > *,
.sub-title > * > * {
    font-size: 18px !important;
    letter-spacing: 0.19px !important;
    line-height: 26px !important;
  }
}

.description-title,
.description-title > *,
.description-title > * > * {
  font-size: 15px;
  font-family: "made4-db";
  font-weight: bold;
  line-height: 24px;
  color: #20303c;
}
@media (max-width: 600px) {
  .description-title,
.description-title > *,
.description-title > * > * {
    font-size: 22px !important;
    letter-spacing: 0.24px !important;
    line-height: 29px !important;
  }
}

.description-text,
.description-text > *,
.description-text > * > * {
  color: #20303c;
  font-size: 15px;
  font-family: "made4-tr";
  line-height: 24px;
}
.description-text .description-text-bold,
.description-text > * .description-text-bold,
.description-text > * > * .description-text-bold {
  font-family: "made4-db";
  font-weight: bold;
}
@media (max-width: 600px) {
  .description-text,
.description-text > *,
.description-text > * > * {
    font-size: 15px !important;
    letter-spacing: 0.16px !important;
    line-height: 22px !important;
  }
}

.form-title,
.form-title > *,
.form-title > * > * {
  font-size: 20px;
  font-family: "made4-tb";
  font-weight: bold;
  line-height: 24px;
  color: #20303c;
  text-align: center;
}
@media (max-width: 600px) {
  .form-title,
.form-title > *,
.form-title > * > * {
    font-size: 22px !important;
    letter-spacing: 0.24px !important;
    line-height: 29px !important;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.top-page {
  position: relative;
}
.top-page .left-illustration {
  z-index: 1;
  position: absolute;
  left: -32px;
  top: 200px;
}
@media (max-width: 1600px) {
  .top-page .left-illustration {
    display: none;
  }
}
.top-page .right-illustration {
  z-index: 1;
  max-width: 270px;
  position: absolute;
  right: 0px;
  top: 10px;
}
@media (max-width: 1600px) {
  .top-page .right-illustration {
    display: none;
  }
}
.top-page .header-section {
  background: #f6faff;
  z-index: 10;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 18%;
}
@media (max-width: 1600px) {
  .top-page .header-section {
    padding-left: 10%;
  }
}
@media (max-width: 1366px) {
  .top-page .header-section {
    padding-left: 5%;
  }
}
@media (max-width: 600px) {
  .top-page .header-section {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
  }
}
.top-page .header-section .logo {
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .top-page .header-section .logo {
    margin-bottom: 50px;
  }
}
.top-page .header-section .title-container {
  max-width: 600px;
  color: #ffffff;
}
@media (max-width: 1070px) {
  .top-page .header-section .title-container {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .top-page .header-section .title-container {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .top-page .header-section .title-container {
    margin-bottom: 50px;
  }
}
.top-page .header-section .title-container .big-title {
  margin-bottom: 30px;
}
.top-page .header-section .form-container {
  z-index: 1000;
  position: absolute;
  top: 70px;
  right: 18%;
  bottom: unset;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 2px 18px 0 rgba(204, 204, 204, 0.5);
  display: flex;
  width: 350px;
  background-color: #ffffff;
  flex-direction: column;
  transition-property: top;
  transition-duration: 1s;
}
@media (max-width: 1600px) {
  .top-page .header-section .form-container {
    right: 10%;
  }
}
@media (max-width: 1366px) {
  .top-page .header-section .form-container {
    right: 5%;
  }
}
@media (max-width: 1070px) {
  .top-page .header-section .form-container {
    width: 320px;
  }
}
@media (max-width: 600px) {
  .top-page .header-section .form-container {
    position: relative;
    width: 100%;
    right: unset;
    top: unset;
    margin-bottom: 60px;
  }
  .top-page .header-section .form-container .stick-bottom {
    top: unset;
    bottom: unset;
  }
}
.top-page .header-section .form-container .form-title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.top-page .header-section .form-container .form-item {
  margin-bottom: 35px;
}
.top-page .header-section .form-container .assets {
  margin-bottom: 30px;
}
.top-page .header-section .form-container .assets .assets-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
.top-page .header-section .form-container .assets .assets-row:not(:last-child) {
  margin-bottom: 20px;
}
.top-page .header-section .form-container .assets .assets-row .asset {
  width: 80px;
}
.top-page .header-section .form-container .assets .assets-row .asset.yotpo {
  padding-left: 25px;
  padding-right: 25px;
}
.top-page .header-section .form-container .assets .assets-row .asset.fiverr {
  padding-left: 10px;
  padding-right: 10px;
}
.top-page .header-section .form-container .assets .assets-row .asset.viber {
  padding-left: 15px;
  padding-right: 15px;
}
.top-page .header-section .form-container .assets .assets-row .asset.guesty {
  padding-left: 5px;
  padding-right: 5px;
}
.top-page .main-section {
  background-image: linear-gradient(#f6faff, #fff);
  transform: translateY(-100px);
  z-index: 10;
  width: 100%;
  padding-left: 18%;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (max-width: 1600px) {
  .top-page .main-section {
    padding-left: 10%;
  }
}
@media (max-width: 1366px) {
  .top-page .main-section {
    padding-left: 5%;
  }
}
@media (max-width: 600px) {
  .top-page .main-section {
    transform: translateY(-50px);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
  }
}
.top-page .main-section .main-img-container {
  max-width: 600px;
  margin-bottom: 30px;
}
@media (max-width: 1070px) {
  .top-page .main-section .main-img-container {
    max-width: 400px;
  }
}
.top-page .main-section .main-img-container img {
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.11);
  border-radius: 5px;
}
.top-page .main-section .description-container {
  max-width: 600px;
}
@media (max-width: 1070px) {
  .top-page .main-section .description-container {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .top-page .main-section .description-container {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .top-page .main-section .description-container {
    width: 100%;
  }
}
.top-page .main-section .description-container .description-title {
  margin-bottom: 30px;
}
.top-page .main-section .description-container .description-text {
  max-width: 600px;
}
.top-page .main-section .description-container .description-text ul {
  padding-left: 30px;
}
.top-page .main-section .description-container .description-text ul li {
  margin-bottom: 15px;
  list-style: none;
  position: relative;
}
.top-page .main-section .description-container .description-text ul li::before {
  color: #116dff;
  content: "•";
  display: inline-block;
  font-size: 35px;
  left: -30px;
  position: absolute;
  top: -2px;
}

.mk-signup-social-proof-container {
  grid-area: mk-top-social;
  padding-top: 90px;
  padding-bottom: 90px;
  box-shadow: 0 10px 60px 0 #e9e7e7, 0 -10px 60px 0 #e9e7e7;
  background-color: #ffffff;
  z-index: 100;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-title {
  font-family: made4-dxb;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.22px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 65px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-title {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.14px;
    margin-bottom: 40px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-badges {
    margin-bottom: 40px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-badges .mk-signup-social-proof-badge-img {
  width: 90px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-badges .mk-signup-social-proof-badge-img {
    width: 50px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-badges .mk-signup-social-proof-badge-img-center {
  width: 105px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-badges .mk-signup-social-proof-badge-img-center {
    width: 60px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-badges a:not(:last-child) {
  margin-right: 35px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-badges a:not(:last-child) {
    margin-right: 12px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-reviews {
    align-items: center;
    flex-direction: column;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-divider {
  height: 170px;
  border-left: 1px solid #979797;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-divider {
    height: 1px;
    border-left: none;
    border-bottom: 1px solid #979797;
    margin-bottom: 50px;
    width: 90%;
    max-width: 300px;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
@media (max-width: 800px) {
  .mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review {
    margin-bottom: 50px;
    padding-top: unset;
  }
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review .mk-signup-social-proof-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review .mk-signup-social-proof-rating .mk-social-proof-rating-star {
  width: 24px;
  height: 24px;
  background-color: #116dff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review .mk-signup-social-proof-rating .mk-social-proof-rating-star:not(:last-child) {
  margin-right: 8px;
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review .mk-signup-social-proof-rating-title {
  max-width: 300px;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-align: center;
  margin-bottom: 15px;
  color: #20303c;
}
.mk-signup-social-proof-container .mk-signup-social-proof-reviews .mk-signup-social-proof-review .mk-signup-social-proof-rating-quote {
  font-family: made4-tb;
  max-width: 350px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  color: #20303c;
}

.bottom-page {
  background-color: #f7fafe;
  padding-top: 50px;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 60px;
}
@media (max-width: 1600px) {
  .bottom-page {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 1366px) {
  .bottom-page {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 600px) {
  .bottom-page {
    padding: 25px;
  }
}
.bottom-page .footer-container {
  max-width: 550px;
  margin-bottom: 40px;
}
.bottom-page .footer-container .description-title {
  margin-bottom: 20px;
}
.bottom-page .icons-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .bottom-page .icons-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.bottom-page .icons-container .icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1070px) {
  .bottom-page .icons-container .icon-text .text.description-text {
    font-size: 11px;
  }
}
.bottom-page .icons-container .icon-text .icon {
  width: 32px;
  margin-right: 13px;
}
@media (max-width: 600px) {
  .bottom-page .icons-container .icon-text .icon {
    margin-bottom: 15px;
  }
}

.footer-strip {
  width: 100%;
  height: 50px;
  background-color: #002764;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer-strip {
    height: 55px;
  }
}
.footer-strip img {
  width: 120px;
}
