@import "./reset.scss";
@import "./general.scss";

.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: 600px) {
        flex-direction: column;
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title-container {
        max-width: 620px;
        margin-right: 100px;
        
        @media (max-width: 600px) {
            text-align: center;
            width: 100%;
        }

        .logo {
            margin-bottom: 100px;
            @media (max-width: 600px) {
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }

        .big-title {
            margin-bottom: 10px;
        }

        .sub-title {
            @media (max-width: 600px) {
                margin-bottom: 40px;
            }
        }
    }

    .form-container {
        grid-area: form;
        justify-self: center;
        border-radius: 10px;
        display: flex;
        width: 350px;
        background-color: #ffffff;
        flex-direction: column;
        box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.11);

        @media (max-width: 600px) {
            width: 100%;
            margin-bottom: 15px;
        }

        .form-title {
            color: #20303c;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .form-item {
            margin-bottom: 50px;
        }
    }
}

.main-section {
    padding-top: 75px;

    @media (max-width: 600px) {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
    }

    .description-container {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;

        @media (max-width: 600px) {
            flex-direction: column;
            width: 100%;
            margin-bottom: 80px;
        }

        .description-item {
            max-width: 450px;
            margin-right: 50px;
            margin-left: 50px;

            @media (max-width: 600px) {
                width: 100%;
                margin: 0;
            }

            .description-title {
                margin-bottom: 30px;
            }

            .description-text {
                & ul {
                    padding-left: 30px;

                    @media (max-width: 600px) {
                    }
                }

                & ul li {
                    margin-bottom: 20px;
                    list-style: none;
                    position: relative;

                    &::before {
                        color: #116dff;
                        content: "\2022";
                        display: inline-block;
                        font-size: 35px;
                        left: -30px;
                        position: absolute;
                        top: -2px;
                    }
                }
            }
        }
    }

    .quote-item {
        max-width: 500px;
        margin-right: 50px;
        margin-left: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px;

        @media (max-width: 600px) {
            width: 100%;
            margin: 0;
            padding: 20px;
        }

        .quote-title {
            margin-bottom: 10px;
        }

        .quote-text {
        }
    }

    .logo-container {
        margin: 30px auto;
        margin-bottom: 30px;
        max-width: 900px;
        display: flex;
        justify-content: space-around;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        .assets-row {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media (max-width: 600px) {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .asset {
                    &.myheritage {
                        width: 70px;
                    }
                    &.yotpo {
                        width: 45px;
                    }
                    &.gettyimages {
                        width: 85px;
                    }
                    &.fiverr {
                        width: 60px;
                    }
                    &.viber {
                        width: 55px;
                    }
                    &.guesty {
                        width: 65px;
                    }
                }
            }
        }
    }
}

.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 600px) {
        width: 100%;
        padding-bottom: 0;
        padding-top: 60px;
    }

    .banner {
        margin: 0 auto;
        max-width: 1000px;
        background-color: #2288f9;
        padding: 100px 170px;
        text-align: center;

        @media (max-width: 600px) {
            width: 100%;
            padding: 60px 40px;
        }
    }

    .description-title {
        margin-bottom: 25px;
        max-width: 690px;
        color: #fff;
        margin-bottom: 30px;
    }

    button {
        background-color: #fff;
        color: #20303c;
    }
}
