@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_Rg.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_Bd.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_XBd.ttf);
    font-weight: 900;
}

@import './reset.scss';
@import './general.scss';

* {
    box-sizing: border-box;
}

:root {
    --font-white: #ffffff;
    --font-black: #20303c;
    --btn-bg: #007aff;
}

body {
    font-family: 'md4';
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 700px) {
        padding: 50px 20px 0 20px;
        display: block;
    }
}

.header-content {
    max-width: 600;
    margin-right: 120px;
    padding-top: 40px;

    @media screen and (max-width: 700px) {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 70px;
    }
}

.header-logo {
    width: 170px;
    margin-bottom: 80px;

    img {
        width: 100%;
    }

    @media screen and (max-width: 700px) {
        text-align: center;
        width: 150px;
        margin: 0 auto 50px auto;
    }
}

.header-title {
    margin: 0 auto;
    text-align: center;
    color: var(--font-white);
    max-width: 500px;
    margin-bottom: 35px;

    @media screen and (max-width: 700px) {
        margin-bottom: 25px;
    }
}

.header-img {
    max-width: 520px;

    img {
        width: 100%;
    }

    @media screen and (max-width: 700px) {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.header-cta,
.footer-cta {
    cursor: pointer;
    width: 255px;
    height: 55px;
    color: var(--font-white);
    background-color: var(--btn-bg);
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: 'md4';
    font-weight: 700;

    @media screen and (max-width: 700px) {
        width: 200px;
        height: 45px;
    }
}

.footer {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 100px;

    @media screen and (max-width: 700px) {
        padding-top: 50px;
    }
}

.footer-title {
    margin-bottom: 25px;
    color: var(--font-black);
    @media screen and (max-width: 700px) {
        margin-bottom: 20px;
    }
}

.footer-cta {
    width: 220px;
    @media screen and (max-width: 700px) {
        width: 200px;
        height: 45px;
    }
}
