@import "./reset.scss";
@import "./general.scss";

.header-section {
    background: #f7fafe;
    z-index: 10;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 20%;

    @media (max-width: 2000px) {
        padding-left: 15%;
    }

    @media (max-width: 1600px) {
        padding-left: 10%;
    }

    @media (max-width: 1366px) {
        padding-left: 5%;
    }

    @media (max-width: 600px) {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 60px;
    }

    .logo {
        margin-bottom: 40px;

        @media (max-width: 600px) {
            margin-bottom: 50px;
        }
    }

    .title-container {
        max-width: 570px;
        color: #ffffff;

        @media (max-width: 1070px) {
            max-width: 400px;
        }

        @media (max-width: 800px) {
            max-width: 300px;
        }

        @media (max-width: 600px) {
            margin-bottom: 50px;
        }

        .big-title {
            margin-bottom: 30px;
        }
    }

    .form-container {
        z-index: 1000;
        position: absolute;
        top: 70px;
        right: 20%;
        bottom: unset;
        justify-self: center;
        border-radius: 10px;
        box-shadow: 0 2px 18px 0 rgba(204, 204, 204, 0.5);
        display: flex;
        width: 350px;
        background-color: #ffffff;
        flex-direction: column;
        transition-property: top;
        transition-duration: 1s;
        
        @media (max-width: 2000px) {
            right: 15%;
        }

        @media (max-width: 1600px) {
            right: 10%;
        }

        @media (max-width: 1366px) {
            right: 5%;
        }

        @media (max-width: 1070px) {
            width: 320px;
        }

        @media (max-width: 600px) {
            position: relative;
            width: 100%;
            right: unset;
            top: unset;
            margin-bottom: 60px;

            .stick-bottom {
                top: unset;
                bottom: unset;
            }
        }

        .form-title {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .form-item {
            margin-bottom: 35px;
        }
        .assets {
            margin-bottom: 30px;
            .assets-row {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-right: 20px;
                margin-left: 20px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .asset {
                    width: 80px;

                    &.yotpo {
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    &.gettyimages {
                    }
                    &.fiverr {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    &.viber {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    &.guesty {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.main-section {
    transform: translateY(-100px);
    z-index: 10;
    width: 100%;
    padding-left: 20%;
    padding-bottom: 30px;
    padding-top: 30px;

    @media (max-width: 2000px) {
        padding-left: 15%;
    }

    @media (max-width: 1600px) {
        padding-left: 10%;
    }

    @media (max-width: 1366px) {
        padding-left: 5%;
    }

    @media (max-width: 600px) {
        transform: translateY(-50px);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 0;
    }

    .main-img-container {
        max-width: 570px;
        margin-bottom: 30px;

        @media (max-width: 1070px) {
            max-width: 400px;
        }

        img {
            box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.11);
            border-radius: 5px;
        }
    }
}
.description-section {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 170px;
    padding-top: 50px;
    
    @media (max-width: 2000px) {
        padding-left: 15%;
        padding-right: 15%;

    }

    @media (max-width: 1600px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media (max-width: 1366px) {
        padding-right: 5%;
        padding-left: 5%;
    }

    @media (max-width: 600px) {
        padding: 25px;
    }

    .description-title {
        text-align: center;
        margin-bottom: 60px;
    }

    .description-cards-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        .description-card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 420px;
            width: 30%;
            border-radius: 10px;
            box-shadow: 0 2px 10px 9px rgba(0, 0, 0, 0.04);
            padding: 35px;

            @media (max-width: 600px) {
                width: 100%;
            }
            

            .card-img {
                width: 30px;
                margin-bottom: 20px;
            }
            .card-title {
                margin-bottom: 20px;
            }
        }
    }
}

.bottom-page {
    background-color: #f7fafe;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 60px;

    @media (max-width: 2000px) {
        padding-left: 15%;
        padding-right: 15%;

    }

    @media (max-width: 1600px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media (max-width: 1366px) {
        padding-right: 5%;
        padding-left: 5%;
    }

    @media (max-width: 600px) {
        padding: 25px;
    }

    .footer-container {
        max-width: 550px;
        margin-bottom: 40px;

        .about-title {
            margin-bottom: 20px;
        }
    }

    .icons-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .icon-text {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1070px) {
                .text.description-text {
                    font-size: 11px;
                }
            }

            .icon {
                width: 32px;
                margin-right: 13px;
                @media (max-width: 600px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.footer-strip {
    width: 100%;
    height: 50px;
    background-color: #002764;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        height: 55px;
    }

    img {
        width: 120px;
    }
}
