@import '../style/reset.scss';
@import '../style/general.scss';

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;

    @media screen and (max-width: 960px) {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
    }
}

.logo {
    margin-bottom: 60px;

    @media screen and (max-width: 960px) {
        margin: 0 auto 60px auto;
    }
}

.title {
    max-width: 550px;
    color: var(--color-blue);
    margin-bottom: 35px;
}

.description {
    max-width: 550px;
    color: var(--color-blue);
    margin-bottom: 20px;

    & ul {
        padding-left: 25px;

        @media (max-width: 600px) {
        }
    }

    & ul li {
        margin-bottom: 20px;
        list-style: none;
        position: relative;

        &::before {
            color: #116dff;
            content: '';
            background-image: url('../images/custom-bullet.svg');
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 15px;
            left: -25px;
            position: absolute;
            top: 3px;
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width: 960px) {
        margin-bottom: 70px;
    }
}

.main-image-container {
    width: 470px;

    @media screen and (max-width: 960px) {
        width: 100%;
        max-width: 550px;
    }
}

.testimonials-section {
    display: grid;
    // justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-bottom: 90px;
    grid-template-areas: 'logo-1 logo-2 logo-3 logo-4 logo-5 logo-6';
    grid-template-columns: auto;
    grid-template-rows: auto;

    .logo-1 {
        grid-area: logo-1;
    }
    .logo-2 {
        grid-area: logo-2;
    }
    .logo-3 {
        grid-area: logo-3;
    }
    .logo-4 {
        grid-area: logo-4;
    }
    .logo-5 {
        grid-area: logo-5;
    }
    .logo-6 {
        grid-area: logo-6;
    }

    @media screen and (max-width: 960px) {
        grid-template-areas:
            '. logo-1 logo-2 logo-3 .'
            '. logo-4 logo-5 logo-6 .';
        grid-template-columns: 1fr 200px 200px 200px 1fr;
        grid-template-rows: 30px 30px;
        row-gap: 40px;
        column-gap: 0px;
    }
    
    @media screen and (max-width: 600px) {
        grid-template-areas:
            '. logo-1 logo-2 .' 
            '. logo-3 logo-4 .' 
            '. logo-5 logo-6 .';
        grid-template-columns: 1fr 150px 150px 1fr;
        grid-template-rows: 30px 30px 30px;
        row-gap: 40px;
        column-gap: 0px;
    }
}

.form-section {
    background: var(--color-blue) url('../images/lp-2021-01-bottom-bg.png')
        no-repeat center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--color-white);
}

.form-title {
    margin-bottom: 30px;
    @media screen and (max-width: 1200px) {
        text-align: center;
        max-width: unset;
    }
}

.form {
    display: grid;
    // grid-gap: 20px;
    // grid-template-columns: repeat(auto-fill, minmax(285px, 285px));
    grid-template-areas:
        'first-name job-title email terms'
        'last-name phone company submit';
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 40px 40px;
    gap: 20px;
    justify-items: center;
    align-items: center;

    @media screen and (max-width: 1200px) {
        grid-template-areas:
            '. first-name last-name .'
            '. job-title phone .'
            '. email company .'
            '. terms submit .';
        grid-template-columns: 1fr 285px 285px 1fr;
        grid-template-rows: 40px 40px 40px 40px;
    }

    @media screen and (max-width: 600px) {
        grid-template-areas:
            'first-name'
            'last-name'
            'job-title'
            'phone'
            'email'
            'company'
            'terms'
            'submit';
        grid-template-columns: auto;
        grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
    }

    .first-name {
        grid-area: first-name;
    }
    .last-name {
        grid-area: last-name;
    }
    .job-title {
        grid-area: job-title;
    }
    .phone {
        grid-area: phone;
    }
    .email {
        grid-area: email;
    }
    .company {
        grid-area: company;
    }
}

.form-input {
    grid-area: input;
    width: 285px;
    height: 40px;
    padding: 10px 15px;
    border: solid 0.9px #e7e7e7;
    border-radius: 5px;
    // outline: none;
}

.form-terms {
    grid-area: terms;
    width: 290px;
    display: flex;
}

.form-terms-text {
    padding-left: 5px;
}

.submit-btn {
    grid-area: submit;
    width: 285px;
    height: 40px;
    font-size: 15px;
    line-height: 38px;
    color: var(--color-white);
    background-color: var(--color-link);
    border: var(--color-link);
    border-radius: 25px;
}
