// general css

.logo {
    grid-area: logo;
    width: 230px;

    img {
        width: 100%;
    }

    @media (max-width: 600px) {
        width: 170px;
    }
}

.big-title {
    color: #20303c;
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
    letter-spacing: 0.43px;
    font-family: "made4-dxb";

    @media (max-width: 600px) {
        font-size: 28px;
        line-height: 38px;
    }
}

.sub-title {
    font-family: "made4-dr";
    font-size: 18px;
    line-height: 30px;
    color: #20303c;

    @media (max-width: 600px) {
        font-size: 18px;
        letter-spacing: 0.19px;
        line-height: 26px;
    }
}

.description-title {
    font-size: 15px;
    font-family: "made4-db";
    font-weight: bold;
    line-height: 24px;
    color: #20303c;

    @media (max-width: 600px) {
        font-size: 22px;
        letter-spacing: 0.24px;
        line-height: 29px;
    }
}

.description-text {
    color: #20303c;
    font-size: 15px;
    font-family: "made4-tr";
    line-height: 24px;

    .description-text-bold {
        font-family: "made4-db";
        font-weight: bold;
    }

    @media (max-width: 600px) {
        font-size: 15px;
        letter-spacing: 0.16px;
        line-height: 22px;
    }
}

.form-title {
    font-size: 20px;
    font-family: "made4-tb";
    font-weight: bold;
    line-height: 24px;
    color: #20303c;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 22px;
        letter-spacing: 0.24px;
        line-height: 29px;
    }
}