// general css

.logo {
    width: 190px;

    img {
        width: 100%;
    }

    @media (max-width: 600px) {
        width: 170px;
    }
}

.section-title-round {
    width: 30%;
    max-width: 400px;
    min-width: 320px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    padding: 20px 0;
    padding-left: 70px;

    @media (max-width: 600px) {
        width: 250px;
        min-width: unset;
        padding-left: 20px;
    }
}

.big-title,
.big-title > *,
.big-title > * > * {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-family: 'made4-dxb';
    line-height: 55px;

    @media (max-width: 600px) {
        font-size: 40px !important;
        line-height: 45px !important;
        letter-spacing: normal !important;
    }
}

.banner-big-title,
.banner-big-title > *,
.banner-big-title > * > * {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-family: 'made4-dxb';
    line-height: 55px;

    @media (max-width: 600px) {
        font-size: 28px !important;
        line-height: 35px !important;
        letter-spacing: normal !important;
    }
}

.text-title,
.text-title > *,
.text-title > * > * {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.4px;
    font-family: 'made4-tr';

    @media (max-width: 600px) {
        font-size: 14px !important;
        line-height: 21px !important;
        letter-spacing: normal !important;
    }
}

.info-text,
.info-text > *,
.info-text > * > * {
    font-size: 15px;
    letter-spacing: 0.4px;
    font-family: 'made4-tr';
    text-align: center;

    @media (max-width: 600px) {
        font-size: 14px !important;
        line-height: 20px !important;
        letter-spacing: normal !important;
    }
}

.description-title,
.description-title > *,
.description-title > * > * {
    font-size: 20px;
    font-family: 'made4-db';
    font-weight: bold;
    line-height: 41px;
    letter-spacing: 0.32px;

    @media (max-width: 600px) {
        font-size: 16px !important;
        line-height: 27px !important;
        letter-spacing: normal !important;
    }
}

.description-text,
.description-text > *,
.description-text > * > * {
    color: #20303c;
    font-size: 16px;
    font-family: 'made4-tr';
    line-height: 27px;

    @media (max-width: 600px) {
        font-size: 14px !important;
        line-height: 22px !important;
    }
}

.quote-title,
.quote-title > *,
.quote-title > * > * {
    font-family: 'made4-txb';
    font-size: 22px;
    line-height: 30px;
    color: #e02020;

    @media (max-width: 600px) {
        font-size: 16px !important;
        line-height: 24px !important;
    }
}

.quote-text,
.quote-text > *,
.quote-text > * > * {
    font-family: 'made4-tr';
    font-size: 18px;
    line-height: 30px;
    color: #e02020;

    @media (max-width: 600px) {
        font-size: 14px !important;
        line-height: 22px !important;
    }
}

.banner-button {
    cursor: pointer;
    font-family: 'made4-tr';
    font-size: 18px;
    background-color: #fff;
    color: #20303c;
    width: 185px;
    height: 48px;
    border-radius: 23px;
    border: none;
    outline: none;
}

.title-dash {
    width: 99px;
    height: 13px;
    background-color: #87f5d3;
    position: absolute;
    z-index: -1;
    top: 35px;
    left: -20px;

    @media (max-width: 600px) {
        display: none;
    }
}

.rect-gray {
    background-color: #f8f8f8;
    border-radius: 5px;
}

.rect-blue {
    background-color: #2288f9;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-reverse {
    flex-direction: row-reverse;
}

.bg-white {
    background-color: #fff;
}
.tx-white {
    color: #fff;
}

.bg-bluish {
    background-color: #3c0dbc;
}
.tx-bluish {
    color: #3c0dbc;
}
