@import "./reset.scss";
@import "./general.scss";

.header-section {
    padding-top: 70px;
    padding-bottom: 200px;

    @media (max-width: 600px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .mini-title {
        font-size: 30px;
    }

    .big-title {
        color: #13004d;
        font-size: 60px;
        text-align: center;
        margin-bottom: 30px;
    }

    .text-title {
        color: #10014a;
        text-align: center;
        margin-bottom: 50px;
    }

    .info-banner {
        max-width: 420px;
        margin: 0 auto;
        padding: 10px 50px;
        color: #fff;
        background-color: #10014a;
        margin-bottom: 50px;
    }

    .form-container {
        @media (max-width: 600px) {
        }
    }
}

.big-banner-section {
    padding-top: 150px;
    padding-bottom: 150px;

    @media (max-width: 600px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .big-banner {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 70px;
        box-shadow: 3.35px 3.72px 18px 3px rgba(0, 0, 0, 0.08);

        @media (max-width: 600px) {
            padding-right: 20px;
            padding-left: 20px;
        }

        .big-title {
            text-align: center;
            color: #0c2660;
            margin-bottom: 30px;
        }

        .text-title {
            text-align: center;
            color: #0c2660;
            margin-bottom: 40px;
            line-height: 30px;
        }

        .logo-items {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0c2660;

            & > * {
                margin-right: 10px;
                margin-left: 10px;
            }

            .telus-logo {
                width: 150px;
            }

            .f-logo {
                width: 50px;
            }

            .survey-logo {
                width: 120px;
                height: 21px;
            }
        }
    }
}

.logos-section {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;


    @media (max-width: 600px) {
        flex-direction: column;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}

.keynote-section,
.speakers-section,
.agenda-section {
    padding-top: 100px;
    padding-bottom: 60px;
}

.keynote,
.speakers {
    padding: 100px 30px 0px 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media (max-width: 600px) {
    }
}

.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.speaker-img {
    max-width: 200px;
    margin-bottom: 15px;

    img {
        border-radius: 50%;
    }
}

.speaker-details {
    display: flex;
    justify-content: center;
}

.speaker-name {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-right: 5px;
    font-family: "made4-db";
    max-width: 300px;
}

.speaker-link {
    padding: 5px;

    img {
        border-radius: 50%;
    }
}

.speaker-work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-title {
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
    font-family: "made4-tr";
    text-align: center;
    max-width: 200px;
}

.agenda {
    padding: 100px 20px 0 8%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    margin-bottom: 50px;

    @media (max-width: 600px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
.event {
    max-width: 550px;
    padding: 20px;
}
.event-date-time {
    font-family: made4-tb;
    font-weight: bold;
    font-size: 15px;
    color: #002764;
    line-height: 22px;
    margin-bottom: 30px;
}
.event-type {
    font-family: made4-tb;
    font-weight: bold;
    font-size: 22px;
    color: #2288f9;
    line-height: 30px;
    margin-bottom: 5px;
}
.event-title {
    font-family: made4-tb;
    font-weight: bold;
    font-size: 22px;
    color: #2288f9;
    line-height: 30px;
    margin-bottom: 20px;
}
.participants {
    font-family: made4-tb;
    font-weight: bold;
    font-size: 17px;
    color: #002764;
    line-height: 22px;
    margin-bottom: 20px;
}
.event-description {
    font-family: made4-tr;
    font-size: 14px;
    color: #002764;
    line-height: 28px;
}

.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;

    .big-title {
        font-size: 60px;
        text-align: center;
        color: #13004d;
        margin-bottom: 50px;
    }
}
