@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  font-weight: normal;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 230px;
  margin-bottom: 100px;
}
.logo img {
  width: 100%;
}
@media (max-width: 600px) {
  .logo {
    width: 170px;
    margin-bottom: 60px;
  }
}

.big-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 62px;
  font-family: "made4-dxb";
}
@media (max-width: 600px) {
  .big-title {
    font-size: 30px;
    line-height: 38px;
  }
}

.description-title {
  font-size: 26px;
  font-family: "made4-db";
  font-weight: bold;
  line-height: 39px;
  letter-spacing: 0.4px;
}
@media (max-width: 600px) {
  .description-title {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.2px;
  }
}

.description-text {
  font-size: 18px;
  font-family: "made4-dr";
  line-height: 29px;
  letter-spacing: 0.6px;
}
@media (max-width: 600px) {
  .description-text {
    font-size: 16px;
    line-height: 26px;
  }
}

.cta-btn {
  cursor: pointer;
  width: 185px;
  height: 48px;
  border-radius: 23px;
  background-color: #1f77ff;
  border: 0px solid #1f77ff;
  color: #ffffff;
  font-size: 18px;
  font-family: "made4-tr";
}

.header-section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 250px;
}
@media (max-width: 600px) {
  .header-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.header-section .header-container {
  max-width: 1280px;
  margin: 0 auto;
}
.header-section .header-container .header-title {
  color: #ffffff;
}
@media (max-width: 600px) {
  .header-section .header-container {
    max-width: 100%;
  }
}

.main-section {
  width: 100%;
  padding-bottom: 70px;
}
@media (max-width: 600px) {
  .main-section {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
}
.main-section .video-container {
  margin: 0 auto;
  transform: translateY(-30%);
  max-width: 960px;
  height: 540px;
  background-color: #ccc;
  position: relative;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .main-section .video-container {
    transform: translateY(-35%);
    max-width: 320px;
    height: 180px;
  }
}
@media (max-width: 400px) {
  .main-section .video-container {
    transform: translateY(-45%);
    max-width: 240px;
    height: 135px;
  }
}
.main-section .video-container .video-item {
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.main-section .video-container .play-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-section .description-container {
  transform: translateY(-10%);
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .main-section .description-container {
    transform: translateY(-5%);
  }
}
.main-section .description-container .description-content {
  max-width: 580px;
  color: #20303c;
}
.main-section .description-container .description-content .description-title {
  margin-bottom: 20px;
  max-width: 500px;
}
.main-section .description-container .description-content .description-text div {
  margin-bottom: 50px;
  max-width: 550px;
}
.main-section .description-container .description-content .description-text ul {
  margin-bottom: 50px;
}
.main-section .description-container .description-content .description-text ul li {
  margin-bottom: 20px;
  list-style: none;
  position: relative;
}
.main-section .description-container .description-content .description-text ul li::before {
  color: #4dddb1;
  content: "•";
  display: inline-block;
  font-size: 30px;
  left: -1.1225em;
  position: absolute;
  top: -2px;
}
@media (max-width: 600px) {
  .main-section .description-container .cta-btn-container {
    text-align: center;
  }
}
.main-section .description-container .description-asset {
  max-width: 470px;
}
@media (max-width: 600px) {
  .main-section .description-container .description-asset {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
