@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_Rg.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_Bd.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'md4';
    src: local('md4'),
        url(https://info.wixanswers.com/rs/314-AVR-999/images/WixMadeforDisplay_XBd.ttf);
    font-weight: 900;
}

@import './reset.scss';
@import './general.scss';

* {
    box-sizing: border-box;
}

:root {
    --font-white: #ffffff;
    --font-black: #20303c;
}

body {
    font-family: 'md4';
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 70px;
    padding-bottom: 150px;

    @media (max-width: 800px) {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 150px;
    }
}

.header-logo {
    width: 180px;
    margin: 0 auto 70px auto;

    img {
        width: 100%;
    }

    @media (max-width: 800px) {
        width: 150px;
        margin-bottom: 50px;
    }
}

.header-title {
    margin: 0 auto;
    text-align: center;
    color: var(--font-white);
    max-width: 660px;
    margin-bottom: 25px;

    @media (max-width: 800px) {
        margin-bottom: 15px;
    }
}

.header-subtitle {
    margin: 0 auto;
    text-align: center;
    color: var(--font-white);
    max-width: 810px;
    margin-bottom: 50px;

    @media (max-width: 800px) {
        margin-bottom: 30px;
    }
}

.header-form {
    #mktoForm_1037 {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    #mktoForm_1037 .mktoFormRow {
        margin-top: 0px;
    }
    #mktoForm_1037 .mktoLabel {
        display: none !important;
    }
    #mktoForm_1037 label {
        margin-top: 20px !important;
        color: #3278c5 !important;
    }
    #mktoForm_1037 input,
    #mktoForm_1037 select {
        border-radius: 6px !important;
        border: 1px solid #11418c !important;
        color: #000000 !important;
        background-color: #ffffff !important;
        font-size: 14px !important;
    }
    #mktoForm_1037 input:not([type='checkbox']) {
        padding: 10px 15px !important;
        width: 300px !important;
    }
    #mktoForm_1037 select {
        width: 250px !important;
        height: 37px !important;
    }
    #mktoForm_1037 .mktoLogicalField label {
        color: #ffffff !important;
    }
    #mktoForm_1037 input::placeholder {
        color: #11418c !important;
    }
    #mktoForm_1037 .mktoButton {
        width: 200px !important;
        height: 40px !important;
        border-radius: 30px !important;
        color: #ffffff !important;
        background: dodgerblue !important;
        font-size: 16px !important;
        border: none !important;
        outline: none !important;
    }

    @media (max-width: 600px) {
        #mktoForm_1037 input:not([type='checkbox']) {
            padding: 20px 15px !important;
            width: 250px !important;
        }
    }
}

.main {
    position: relative;
    padding-top: 170px;
    padding-bottom: 250px;
    
    @media (max-width: 800px) {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 70px;
        padding-bottom: 215px;
    }
}

.main-bg-asset {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 400px;

    @media (max-width: 800px) {
        width: 300px;
    }

    img {
        width: 100%;
    }
}

.main-banner {
    position: relative;
    width: 1100px;
    margin: 0 auto 200px auto;
    background-color: var(--font-white);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.15);
    padding: 60px 100px;
    color: var(--font-black);

    @media (max-width: 800px) {
        width: 100%;
        flex-direction: column;
        padding: 55px 20px;
        margin-bottom: 125px;
    }
    
}

.main-banner-asset {
    width: 300px;
    position: absolute;
    right: -100px;
    bottom: -130px;
    z-index: 1;

    @media (max-width: 800px) {
        width: 200px;
        bottom: -100px;
        right: -30px;
    }
}

.main-banner-asset-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--font-white);
    z-index: 5;
}

.main-banner-img {
    max-width: 400px;
    margin-right: 70px;
    z-index: 10;

    img {
        width: 100%;
    }

    @media (max-width: 800px) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.main-banner-content {
    z-index: 10;

    @media (max-width: 800px) {
        text-align: center;
    }
}

.main-banner-content-title {
    max-width: 300px;
    margin-bottom: 15px;
}

.main-banner-content-text {
    max-width: 410px;
}

.main-info {
    color: var(--font-black);
    width: 1100px;
    margin: 0 auto;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.main-info-small-title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 40px;

    @media (max-width: 800px) {
        font-size: 15px;
    }
}

.main-info-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.main-info-item {
    max-width: 335px;

    @media (max-width: 800px) {
        margin-bottom: 40px;
    }
}

.main-info-item-number {
    color: #2c71f5;
    margin-bottom: 20px;
    
    @media (max-width: 800px) {
        margin-bottom: 10px;
    }
}

.main-info-item-title {
    margin-bottom: 20px;
    
    @media (max-width: 800px) {
        margin-bottom: 10px;
    }
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--font-white);
}

.footer-title {
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 800px) {
        margin-bottom: 15px;
    }
}
